<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <meta charset="UTF-8">
    <title>Visitouter</title>
</head>
<body>
<nav class="navbar is-warning" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/V-logo.svg/1200px-V-logo.svg.png" alt="V" width="30" height="40">
    </a>
      <h3 class="title mt-1">Visitouter</h3>
  </div>
</nav>
<div class="card mx-5 mt-5">I will count on this page</div>
<script id="counter_scripts" src="http://localhost:5000/static/js/counter.js"></script>

</body>
</html>